*{
  margin: 0px;
  font-family: 'Verdana', sans-serif;
  color: rgb(15,15,15);
  font-variant: small-caps;
  /* background-color: rgb(249,249,249); */
}

.App {
  min-height: 100%;
  background-color: white;
  margin: 0px;
}

.card {
  margin: 10px 0px;
  padding: 20px;
  min-height: 100%;
}

.Home {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.weatherToday {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-bottom: 2%;
}

.weatherRes {
  align-items: center;
  min-height: 100%;
  margin: auto;
  width: 70vw;
  padding: 40px;
}

.weatherRes h1 {
  margin: 10px 0px;
}

.weatherRes h2 {
  margin: 10px 0px;
}

.conditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: rgb(255, 255, 255);
  color: rgb(19,95,151);
  border: 1px solid rgb(19,95,151);
  border-radius: 15px;
  padding: 0px 3% 1% 2%;
  margin-bottom: 4%;
}

.conditions1 {
  background-color: rgb(255, 255, 255);
  color: rgb(19,95,151);
  display: flex;
  align-items: center;
}

.dateTime p {
  text-align: right;
  color: rgb(19,95,151);
}

.conditions1 img {
  border-radius: 50%;
  background-color: inherit;
}

.conditions1 h2 {
  background: inherit;
  color: inherit;
}

.conditions2 {
  background-color: rgb(255, 255, 255);
  color: rgb(19,95,151);
}

.conditions2 p {
  background-color: inherit;
  color: inherit;
}

.alerts {
  padding: 3%;
  background-color: rgb(255, 255, 255);
  color: rgb(19,95,151);
  border: 1px solid rgb(19,95,151);
  border-radius: 15px;
}

.alerts p {
  font-variant: normal;
}

.SOS {
  padding-bottom: 3%;
  display: flex;
  align-items: center;
}

.SOS h2 {
  font-size: 5vh;
}

.InfoBtn img {
  width: 3vh;
  height: 3vh;
  color: black;
  padding: 25%;
}

.InfoBtn img:hover {
  cursor: pointer;
}

.alert-dialog-title {
  color: black;
}

.NoonlightBtn button {
  user-select: none;
  font-family: inherit;
  font-size: 7vh;
  width: 50vh;
  height: 50vh;
  padding: 5%;
  background-color: #1c8adb;
  color: white;
  border: inherit;
  transition: 0.5s;
  border-radius: 50%;
}

.NoonlightBtn button:hover {
  background-color: #145787;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.PoliceBtn button {
  margin: 10px 20px;
  font-size: 4vh;
  padding: 10%;
  width: 50vh;
  height: auto;
  background-color: red;
  color: white;
  border: inherit;
  transition: 0.5s;
  border-radius: 10%;
}

.PoliceBtn button:hover {
  background-color: rgb(139, 0, 0);
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.header {
  margin: 2% 12%;
}

.filtersbtn {
  margin: 15px 0px;
}

.filtersbtn button {
  background-color: white;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 1% 3%;
}

.filtersbtn button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  transition: 0.2s;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.filters button {
  padding: 2%;
  background-color: white;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: white;
  margin-right: 3%;
  transition: 0.2s;
}

.filters button:hover {
  cursor: pointer;
  border-color: black;
}

.videopage {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 2% 2% 2% 2%;
}

.videopage .selectfilterby h1 {
  margin-top: 20px;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.videos h1 {
  margin-top: 4px;
  font-size: large;
}

.videos h2 {
  margin-top: 4px;
  font-size: small;
  font-variant: normal;
}

.videos p {
  font-size: smaller;
  color: rgb(52, 52, 52);
  font-variant: normal;
}

.videos a:link{
  text-decoration: none;
}

.video-info {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  overflow-wrap: break-word;
  margin: 20px;
  padding: 1%;
  width: 25vw;
}

.video-info img{
  min-width: 50%;
}

.video-info:hover{
  background-color: rgba(128, 128, 128, 0.156);
  transition: 0.2s;
  cursor: pointer;
}

.Navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  float: left;
  height: 75px;
  cursor: pointer;
}

.Navbar {
  display: flex;
  margin: 10px 12%;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgba(0,0,125,0.05);
  margin: 2%;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: rgb(15,15,15);
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.Navbar a {
  text-decoration: none;
}

.Navbar .links{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  min-width: 50%;
}

.Navbar .links .link{
  margin: 2%;
  font: inherit;
  font-size: calc(12pt + 0.6vh + 0.8vw);
  background-color: inherit;
  text-decoration: none;
}

.Navbar .links .link::after{
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #000;
  transition: width 0.5s ease-in-out;
}

.Navbar .links .link:hover::after{
  width: 100%;
}

@keyframes growDown{
  0%{
    transform: scale(0);
  }
  80%{
    transform: scaleY(1.1);
  }
  100%{
    transform: scaleY(1);
  }
}


@media screen and (max-width: 1275px) {
  .Navbar .links{
    display: none;
    width: 100%;
  }

  .Navbar {
    flex-wrap: wrap;
    margin: 0 60px 0 0;
  }
  
  .hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    transform: scale(1.8);
  }

  .links.show{
    display: flex;
    flex-wrap: wrap;
    animation: growDown 1s ease-in-out forwards;
  }

}

@media screen and (max-width: 750px ){
  .Map-buttons{
    padding: 0;
  }

  .Map-buttons button h4{
    font-size: 0;
  }

  .Map-buttons button img{
    min-height: 50px;
    min-width: 50px;
  }

  .myMap{
    flex-wrap: wrap;
    justify-content: center;
  }

  .places-list{
    display: flex;
    min-width: 350px;
    height: 250px;
    overflow: scroll;
  }

  .GoogleMap {
    min-width: 350px;
    max-height: 400px;
  }

  .Navbar{
    width: 100%;
    border-radius: 0;
  }

  .Navbar .links{
    flex-direction: column;
    align-items: center;
  }

}



.Map-buttons{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15%;
}

.Map-buttons button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  font-size: calc(2.5vh + 1.2vw);
}

.Map-buttons button h4{
  font-weight: inherit;
}

.Map-buttons button:hover{
  cursor: pointer;
}

.Map-buttons button::after{
  content: '';
  display: block;
  width: 0;
  height: 4px;
  transition: width 0.5s ease-in-out;
}

.Map-buttons button:hover::after{
  width: 100%;
}

.Map-buttons .police::after{
  background-color: blue;
}

.Map-buttons .hospital::after{
  background-color: red;
}

.Map-buttons .pharmacy::after{
  background-color: magenta;
}

.police h4{
  color: blue;
}

.hospital h4{
  color: red;
}

.pharmacy h4{
  color: magenta;
}


.Map-buttons button img {
  width: 15%;
}

.myMap {
  display: flex;
  flex-wrap: wrap;
  width: 99vw;
  height: auto;
}

.police{
  color: blue;
}

.police img{
  filter: invert(9%) sepia(100%) saturate(5811%) hue-rotate(245deg) brightness(108%) contrast(139%);
}

.hospital {
  color: red;
}


.hospital img{
  filter: invert(17%) sepia(73%) saturate(6266%) hue-rotate(356deg) brightness(101%) contrast(118%);
}

.pharmacy {
  color: magenta;
}

.pharmacy img{
  filter: invert(18%) sepia(49%) saturate(6630%) hue-rotate(293deg) brightness(116%) contrast(126%);
}

.places-list {
  display: inline-block;
  overflow: auto;
  max-height: 60vh;
  margin: 3%;
  width: 25%;
}

.places-list button {
  background-color: transparent;
  border: transparent;
  border-bottom: 2px solid black;
  font-size: 100%;
  width: 100%;
  padding: 5%;
  transition: all 250ms ease-in-out;
}

.places-list button p {
  color: rgb(78, 78, 78);
  font-size: 80%;
  font-variant: normal;
}

.places-list button:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

.places-list button:hover h3{
  color: white;
}

.places-list button:hover p{
  color: rgb(170, 170, 170);
}

.GoogleMap {
  width: 60%;
  margin: 3%;
  height: 60vh;
  align-content: center;
}

.marker {
  bottom: 4vh;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  left: 0;
  position: relative;
}