*{
  margin: 0px;
  font-family: 'Verdana', sans-serif;
  color: rgb(15,15,15);
}

.App {
  min-height: 100%;
  background-color: rgb(249, 249, 249);
}

.card {
  margin: 10px 0px;
  padding: 20px;
  min-height: 100%;
}

.Home {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: inherit;
}

.weathercontent {
  /*font-family: 'Verdana', sans-serif;*/
  min-height: 100%;
  margin: 5px;
  padding: 40px;
}

.weathercontent h1 {
  margin: 10px 0px;
}

.weathercontent h2 {
  margin: 10px 0px;
}

.SOS {
  padding-bottom: 3%;
  display: flex;
  align-items: center;
}

.SOS h2 {
  font-size: 5vh;
}

.InfoBtn img {
  width: 3vh;
  height: 3vh;
  color: black;
  padding: 25%;
}

.InfoBtn img:hover {
  cursor: pointer;
}

.alert-dialog-title {
  color: black;
}

.NoonlightBtn button {
  user-select: none;
  font-family: inherit;
  font-size: 7vh;
  width: 50vh;
  height: 50vh;
  padding: 5%;
  background-color: #1c8adb;
  color: inherit;
  border: inherit;
  transition: 0.5s;
  border-radius: 50%;
}

.NoonlightBtn button:hover {
  background-color: #145787;
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.PoliceBtn button {
  margin: 10px 20px;
  font-size: 4vh;
  padding: 10%;
  width: 50vh;
  height: auto;
  background-color: red;
  color: inherit;
  border: inherit;
  transition: 0.5s;
  border-radius: 10%;
}

.PoliceBtn button:hover {
  background-color: rgb(139, 0, 0);
  color: white;
  border-radius: 10%;
  cursor: pointer;
}

.videos {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  padding: 2%;
}

.videos a:link{
  text-decoration: none;
}

.videos .filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.video-info {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  overflow-wrap: break-word;
  margin: 25px;
  padding: 2%;
  /*border-radius: 25px;*/
  width: 25vw;
}

.video-info img{
  min-width: 50%;
  /*border-radius: 25px;*/
}

.video-info:hover{
  cursor: pointer;
}

.Navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  float: left;
  height: 75px;
  cursor: pointer;
}

.Navbar {
  display: flex;
  margin: 0px 12%;
  justify-content: space-between;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: rgb(15,15,15);
  font-size: 20px;
  cursor: pointer;
  display: none;
}


.Navbar .links{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  min-width: 50%;
}

.Navbar .links button{
  margin: 2%;
  font: inherit;
  font-size: calc(8pt + 1.2vh + 1.2vw);
  background-color: inherit;
  border: inherit;
}

.Navbar .links button::after{
  content: '';
  display: block;
  width: 0;
  height: 4px;
  background: #000;
  transition: width 0.5s ease-in-out;
}

.Navbar .links button:hover::after{
  width: 100%;
}

@keyframes growDown{
  0%{
    transform: scale(0);
  }
  80%{
    transform: scaleY(1.1);
  }
  100%{
    transform: scaleY(1);
  }
}

@media screen and (max-width: 750px) {
  .Navbar .links{
    display: none;
    width: 100%;
  }

  .Navbar {
    flex-wrap: wrap;
    margin: 0;
  }
  
  .hamburger {
    display: block;
    transform: scale(1.8);
  }

  .links.show{
    display: flex;
    flex-wrap: wrap;
    animation: growDown 1s ease-in-out forwards;
  }


}
