*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.App {
  min-height: 100vh;
  background-color: #0c0c17;
}

.weathercontent {
  background-color: #e3e3e3;
  color: #003550;
  margin: 0px;
  padding: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  float: left;
  height: 75px;
  width: auto;
}

.Navbar {
  display: flex;
  min-width: 100vw;
  border: 2px solid slateblue;
}

.Navbar .links{
  margin-right: 0 auto;
}

/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
