*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.App {
  min-height: 100vh;
  background-color: #0c0c17;
}

.weathercontent {
  background-color: #e3e3e3;
  color: #003550;
  margin: 0px;
  padding: 40px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  float: left;
  height: 75px;
  width: auto;
}

.Navbar {
  display: flex;
  min-width: 100vw;
  border: 2px solid slateblue;
}

.Navbar .links{
  margin-right: 0 auto;
  right: 0;
}
