*{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

.App {
  min-height: 100vh;
  background-color: #0c0c17;
}

.card {
  display: flex;
  border: 1px solid white;
  margin: 10px 0;
  padding: 20px;
}

.weathercontent {
  min-height: 100%;
  background-color: #e3e3e3;
  color: #003550;
  margin: 0px;
  padding: 40px;
}

.Navbar .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 50%;
}

.logo img {
  float: left;
  height: 75px;
  width: auto;
}

.Navbar {
  display: flex;
  padding: 0 5%;
}

.Navbar .links{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  min-width: 50%;
}

.Navbar .links button{
  font: inherit;
  font-size: calc(8pt + 1.2vh + 1.2vw);
  background-color: inherit;
  color: inherit;
  border: inherit;
  transition: 0.5s;
}
.Navbar .links button:hover{
  background-color: white;
  color: #0c0c17;
  border-radius: 10%;
}
